# Attribute definitions
# For "linguist-language" values, see https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml
[attr]adb   linguist-detectable linguist-language=AdBlock
[attr]json  linguist-detectable linguist-language=jsonc
[attr]hosts linguist-detectable linguist-language=hosts

# AdBlock filter files
*.txt linguist-detectable linguist-language=AdBlock
